*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Obito',sans-serif;
    
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: rgba(20, 18, 18, 0.959);
}

/* Hiển thị thanh scrollbar */

::-webkit-scrollbar{
    width: 8px;
 }
 ::-webkit-scrollbar-thumb{
     background: rgb(187, 53, 30) !important;
     border-radius: 6px;
 }

/* Main */
.wrapper_detail{
    width: 100%;
    margin-top: -100px;
    min-height: 120vh;
    
}
.main_detail{
    width: calc(100% - 100px);
    margin-left: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    min-height: 100vh;
}
.flex_detail{
    display: flex;
    
}

/* Left  */

.left_detail{
    margin-left: 10px;
    width: 65%;
    transform: translateY(30px);
    
}
.img_detail{
    position: relative;
}
.img_detail img{
    width: 90%;
    height: 450px;
    object-fit: cover;
    box-sizing: border-box;
    overflow: hidden;
    background-position: center;
    object-position: center;
    filter: brightness(0.3);
    -webkit-filter: brightness(0.3);
}
.infor_moive{
    width: calc(100% - 50px);
    margin-left: 25px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    
}
.img_link {
    width: 30%;
    height: auto;
    position: relative;
}

.img_link img{
    width: 60%;
    height: 70%;
    object-fit: cover;
    margin: 35% 15%;
}
.img_link .watch{
    position: absolute;
    background: #b71c1c;
    color: white;
    transform: translateY(-130px);
    margin-left: 15%;
    width: 60%;
}
.img_link .watch p{
    display: block;
    padding: 7px 20px;
    text-align: center;
}

/* overlay */
.overlay_detail{
    position: absolute;
    box-sizing: border-box;
    background:linear-gradient( rgba(36, 35, 35, 0.7), 
    rgba(36, 35, 35, 0.7));
    top:22%;
    left: 15%;
    height: 70%;
    width: 60%;
    display: none;
 
}
.img_link:hover .overlay_detail{
    display: block;
}

.deces_detail{
    width: 60%;
    margin: 5% 0;
} 
.deces::-webkit-scrollbar{
    width: 8px;
    
 }
.deces::-webkit-scrollbar-thumb{
     background: rgb(187, 53, 30);
     border-radius: 6px;
     height: 8px;
 }
 .deces_detail h3{
    color: rgb(226, 43, 10);
    font-size: 29px;
    font-weight: 500;
    padding: 10px 0;
 }
 .deces{
    color: #fff;
    font-size: 15px;
    overflow-y: scroll;
    max-height: 120px;
    margin: 10px 0;
    letter-spacing: 1;
    padding-bottom: 3px;
    overflow: auto;
 }
.line{
    box-sizing: border-box;
    border: 0.5px solid #f4f4f4;
    width: 100%;
    margin-top: 30px;
    
}
.icon_detail{
    color: white;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    margin-left: 10px;
}
.icon_detail ion-icon{
    margin-left: 30px;
    margin-right: 5px;
}
.episode{
    width: 100%;
    
}
.episode a{
    text-decoration: none;
    padding: 8px 10px;
    box-sizing: border-box;
    color: #fff;
    background: rgb(31, 30, 30);
    margin-right: 5px;
    border-radius: 5px;
    transition: 0.25s;
}
.episode a:hover{
    background: #b71c1c;
}

.mv_genre{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    position: relative;
}

.movie_show {
    width: 133px;
    height: 220px;
    margin: 10px 5px 60px 10px;
    position: relative;
 }
 .images{
    width: 100%;
    height: 100%;
    transition: 0.5s;
 }
 
/* favorite */
#favorite{
    position: absolute;
    top: 90;
    left: 40;
    background: #898484;
    width: 90px;
}
#favorite ion-icon{
    font-size: 23px;
    color: black;
}
#favorite::before{
    content: "Theo dõi";
    position: absolute;
    color: #b71c1c;
    top: 2px;
    left: 25px;
    font-size: 13px;
}
#favorite.active{
    width: 100px;
}
#favorite.active::before{
    content: "Đã Theo dõi";
    position: absolute;
    color: #b71c1c;
    top: 2px;
    left: 25px;
    font-size: 13px;
}
#favorite.active ion-icon{
    font-size: 23px;
    color: #b71c1c;
}
/* Switch tabs */
.switch_tabs{
    width: 100%;
}
.tabs{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    margin-top: 20px;
}
.tabs li{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    position: relative;
    margin-left: -70px;
}
.tabs li::after{
    content: "";
    position: absolute;
    bottom: -20%;
    left: -3%;
    width: 0%;
    height: 5px;
    background: #25b63d;
    border-radius: 30px;
    transition:  width 0.8s ease;
}
.tabs li.active::after{
    width: 104%;
}
.container_tabs{
    position: relative;
   
}
.container_tabs .content_tabs{
    /* position: absolute; */
    top: 0;
    left: 0;
    display: none;
    width: 100%;
}
.content_tabs.active{
    display: block;
    animation: fade 1s ease;
}
.flex_tabs{
    display: flex;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    align-items: stretch;
    background: #111315;
    padding: 10px;
    width: 90%;
    padding-bottom: 200px;
}
.flex_tabs .flex_a{
   padding-top: 100px;
    width: 45%;
    margin-left: 10%;
}
.flex_tabs ul li{
    padding: 5px 0;
}
.flex_tabs .flex_b{
    width: 35%;
    word-wrap: break-word;
    padding-top: 100px;
  
}
a.link_detail{
 
    color: #b71c1c !important;
    transition: 0.5s;
}
a.link_detail {
    text-decoration: none ;
    transition: 0.5s !important;
}
a.link_detail:hover{
    color: #3b5240 !important;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* Phim liên quan */
.similar_mv{
    width: 100%;
    position: relative;
    z-index: 1000000000000000000000000;
}
.title_similar{
    margin-left: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 155px;
 }
 .title_similar::after{
    content: "";
    position: absolute;
    top: 28;
    left: 20px;
    width: 18%;
    height: 5px;
    background: #25b63d;
    border-radius: 30px;
 }

 .mv_genre{
    display: flex;
    flex-wrap: wrap;
   
 }
 .movie_show {
    width: 140px;
    height: 235px;
    margin: 10px 5px 60px 10px;
    position: relative;
 }
 .images{
    width: 100%;
    height: 100%;
    transition: 0.5s;
 }

 /* Role */
 .mv_role{
    position: absolute !important ;
    top: 10;
    left: 5;
    display: block;
    background: rgb(29, 25, 25);
    border-radius: 15px;
 }
 .mv_role .role_name{
    font-size: 17px;
    padding: 5px 7px;
 }
 /*  */
 .movie_show img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
   
 }
 .iconic {
    position: absolute;
    top: 40%;
    left: 30%;
    visibility: hidden;
    transition: 0.2s !important;
 }
 .iconic ion-icon{
    font-size: 45px;
    color: #ffffffd1;
    transition:  0.2 !important;
 }
 .movie_show .images:hover .iconic{
    visibility: visible;
    z-index: 50;
 }
 .overlay_mv {
    position: absolute;
    box-sizing: border-box;
    background:linear-gradient( rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7));
    width: 100%;
    bottom:0;
    height: 100%;
    visibility: hidden;
    transition: 0.2s;
}
.movie_show .images:hover .overlay_mv{
    visibility: visible;
}
 .movie_show a{
    text-decoration: none;
 }
.movie_show p{
    color: #fff;
    letter-spacing: 0.7;
    font-size: 15px;
    text-align: center;
    padding: 3px 0 0 0 ;
    transition: 0.5s;
    cursor: pointer;
}
.movie_show p:hover{
    color: #7d7d7d;
}
.movie_show .view{
    color: #7d7d7d;
    font-size: 14px;
    cursor: pointer;
}

/* Infor hidden */
.infor_hidden{
    position: absolute;
    box-sizing: border-box;
    width: 250px;
    min-height: 300px;
    background-color: #a5a1a1;
    border-radius: 5px;
    display: none;
    top: 0;
    transform: translateX(165px)
    translateY(-28px);
  
    z-index: 100;
}

.infor_hidden::before{
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    border-top: 12px solid transparent ;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #fff;
    transform: translateX(-100%);
}
.infor_tab{
    width: 95%;
    text-align: center;
    margin-left: 2.5%;  
}
.infor_tab .name_hidden{
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    
}
.infor_hidden .infor_tab .deces{
    color: black;
    font-size: 15px;
   
}
.movie_show .images:hover .infor_hidden{
    display: block;
    z-index: 1000;
}
.flex_hidden{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2.5%;
    margin: 10px 0 10px 0;
}
.flex_hidden strong{
    font-style: italic;
    color: rgb(24, 22, 22);
    padding: 5px 0;
}
.show_episode{
    position: absolute !important;
    top: 5;
     right: 12;
     display: block;
     background: rgb(224, 16, 16);
     border-radius: 15px;
     width: 50px;
     height: 50px;
     border-radius: 50%;
  }
  .show_episode .show_name {
    margin-top: 3px;
    word-break: break-word;
    font-size: 19px;
  }
/* Phần noti */
  .noti{
    position: fixed;
    width: 250px;
    height: 80px;
    top: -49;
    left: -59;
    background: #b71c1c;
    clear: right;
    cursor: pointer;
    border-radius: 6px;
    animation: 6s ease 0s 1 normal forwards running notifi;
  }
  .success_noti{
    background: #2ecc71;
  }
  .noti h2{
    font-size: 20px ;
    line-height: 100px;
    color: black;
    margin-top: -30px;
    text-align: center;
  }
  .noti p{
    color: black;
    margin-top: -30px;
    text-align: center;
  }
  @keyframes notifi{
    0% {
      transform: scale(1,1);
  }
  
  20%{
    opacity: 1;
  }
  40%{
    transform: scale(1.05,1.05);
  }
  100% {
      opacity: 0;
    
  }
  }
 /* right detali */

 .right_detail{
    box-sizing: border-box;
    width: 28%;
    margin-right: 10px;
    color: #fff;
    transform: translateY(30px);
    margin-bottom: 20px;
    position: relative !important;
    
 }
.right{
        background: #111315;
        transform: translateY(-20px);
        margin-bottom: 30px;
        position: absolute !important;
    }
.container_right{
        width: calc(100% - 20px);
        margin-left: 10px;
       
    }
.random{
        background: #24262b ;
        margin: 10px;
        min-height: 160px;
        margin-bottom: 20px;
        transform: translateY(30px);
    }
.random_mv{
        width: calc(100% - 20px);
        margin-left: 10px;
        margin: 10px;
    }
.tittle_random p{
        padding: 15px 0;
        font-size: 14px;
        margin-top: 20px;
    
    }
.tittle_random{
        border-bottom: 1px solid rgb(121, 120, 120);
    } 
    .text_random{
        padding: 20px 0;
        font-size: 13px;
        color: #7d7d7d;
    }
    .random_mv a{
        padding: 7px 20px;
        background: #b71c1c;
        color: #bbbbbb;
        border: none;
        transform: translateY(20px);
        text-decoration: none;
        font-size: 13px;
    }
    .random_mv a strong{
        color: black;
        font-size: 14px;
    }
      
    /* quiz */
.quiz{
        background: #f4f4f4 ;
        margin-top: 80px;
        min-height: 160px;        margin-bottom: 80px;
        color: black;
    }
.quiz_text{
        width: calc(100% - 20px);
        margin-left: 10px;
    }
.quiz_text strong{
        font-size: 16px;
        margin-top: 30px !important;
        margin: 10px 0 5px 10px;
    }
.quiz_text p{
        margin: 5px 0 50px 10px;
        font-size: 15px;
    }
.quiz_text a{
        text-decoration: none;
        font-size: 15px;
        color: #ff5722;
        font-weight: 600;
    }
    .new_mv .titile_new{
        font-size: 15px;
        font-weight: 500;
        padding: 15px 0;
        color: #b71c1c;
    }
    
    .new_mv .list_new a{
        text-decoration: none;
    }
    .new_mv .list_new p{
        color: #7d7d7d;
        padding: 10px 0;
       
    }
    .new_mv .list_new:hover{
        color: #fff;
        transform: translateY(5px);
    }
    .list_new{
        display: flex;
        justify-content: space-between;
        width: 100%;
        transition: 0.25s;
    }
    .name_list {
        flex: 3;
    }
    .es_list{
        margin-right: 10px;
        cursor: pointer;
    }
/* Plugin */
.plugin{
    box-sizing: border-box;
    width: 90%;
    height: auto;
    background: #fff;
    min-height: 50vh;
    margin-bottom: 80px;
    margin-top: 100px;
}

.plugin strong{
    font-size: 16px;
    margin-top: 30px !important;
    margin: 10px 0 5px 10px;
}
.plugin p{
    margin: 5px 0 50px 10px;
    font-size: 15px;
}
.plugin a{
    text-decoration: none;
    font-size: 15px;
    color: #ff5722;
    font-weight: 600;
}
.fb-like{
    margin-bottom: 20px;
    margin-top: -20px;
    margin-left: 10px;
}