.genre{
    width: 100%;
    min-height: 100vh;
  }
 .genre h3{
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   margin: 0 0 10px 10px;
 }

.name_genre {
   width: 100%;
   display: flex;
   justify-content: space-between;
 
}
 .name_genre h3{
    display: block;
    padding: 7px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(81.43deg,#b71c1c -26.81%,#8e1438 87.89%);
    box-sizing: border-box;
    width: 20%;
 }
 .name_genre a{
    text-decoration: none;
 }
 .name_genre .more{
   margin-right: 60px;
   color: #fff;
   transition: 0.5s;
   margin-top: 20px;
 }
 .name_genre .more:hover{
    color: #b71c1c;
    transform: translateY(-10px);
 }
 .mv_genre{
    display: flex;
    flex-wrap: wrap;
 }
 .movie_show {
    width: 150px;
    height: 235px;
    margin: 10px 5px 60px 10px;
    position: relative;
 }
 .images{
    width: 100%;
    height: 100%;
    transition: 0.5s;
 }

 /* Role */
 .mv_role{
    position: absolute !important ;
    top: 10;
    left: 5;
    display: block;
    background: rgb(29, 25, 25);
    border-radius: 15px;
 }
 .mv_role .role_name{
    font-size: 17px;
    padding: 5px 7px;
 }
 .show_episode{
   position: absolute !important;
   top: 5;
    right: 12;
    display: block;
    background: rgb(224, 16, 16);
    border-radius: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
 }
 .show_episode .show_name {
   margin-top: 3px;
   word-break: break-word;
   font-size: 19px;
 }
 /*  */
 .movie_show img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
   
 }
 .iconic {
    position: absolute;
    top: 40%;
    left: 30%;
    visibility: hidden;
    transition: 0.2s !important;
 }
 .iconic ion-icon{
    font-size: 45px;
    color: #ffffffd1;
    transition:  0.2 !important;
 }
 .movie_show .images:hover .iconic{
    visibility: visible;
    z-index: 50;
 }
 .overlay_mv {
    position: absolute;
    box-sizing: border-box;
    background:linear-gradient( rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7));
    width: 100%;
    bottom:0;
    height: 100%;
    visibility: hidden;
    transition: 0.2s;
}
.movie_show{
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.movie_show .images:hover .overlay_mv{
    visibility: visible;
}
 .movie_show a{
    text-decoration: none;
 }
.movie_show p{
    color: #fff;
    letter-spacing: 0.7;
    font-size: 15px;
    text-align: center;
    padding: 3px 0 0 0 ;
    transition: 0.5s;
    cursor: pointer;
}
.movie_show p:hover{
    color: #7d7d7d;
}
.movie_show .view{
    color: #7d7d7d;
    font-size: 14px;
    cursor: pointer;
}

/* Infor hidden */
.infor_hidden{
    position: absolute;
    box-sizing: border-box;
    width: 250px;
    min-height: 300px;
    background-color: #a5a1a1;
    border-radius: 5px;
    display: none;
    top: 0;
    transform: translateX(165px)
    translateY(-28px);
  
    z-index: 100;
}

.infor_hidden::before{
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    border-top: 12px solid transparent ;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #fff;
    transform: translateX(-100%);
}
.infor_tab{
    width: 95%;
    text-align: center;
    margin-left: 2.5%;  
}
.infor_tab .name_hidden{
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    
}
.infor_hidden .infor_tab .deces{
    color: black;
    font-size: 15px;
   
}
.movie_show .images:hover .infor_hidden{
    display: block;
    z-index: 1000;
}
.flex_hidden{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2.5%;
    margin: 10px 0 10px 0;
}
.flex_hidden strong{
    font-style: italic;
    color: rgb(24, 22, 22);
    padding: 5px 0;
}